# Django
DJANGO_SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DATABASE_NAME=ecppp_db
DATABASE_USER=ecppp_user
DATABASE_PASSWORD=tu-contrasena-aqui
DATABASE_HOST=localhost
DATABASE_PORT=5432
