# Django
DJANGO_SECRET_KEY=tu-clave-secreta-aqui-cambiar-en-produccion
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DATABASE_NAME=ecppp_db
DATABASE_USER=ecppp_user
DATABASE_PASSWORD=tu-contrasena-aqui
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Email/SMTP — Brevo (ex-Sendinblue) — 300 emails/día gratis
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu-login-de-brevo
EMAIL_HOST_PASSWORD=tu-smtp-key-de-brevo
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@ecppp.edu.ec

# Seguridad — Sprint 1
# OTP_EXPIRATION_MINUTES=10
# ACCOUNT_LOCKOUT_MINUTES=15
# MAX_LOGIN_ATTEMPTS=5
# PASSWORD_RESET_TIMEOUT=1800
